@model sdf_asp_net.ViewModels.ProjectsViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Home Page";
}

<form style="display: inline" action="/Projects/new" method="get">
    <button class="btn btn-primary">Neues Projekt </button><br /><br />
</form>

<ul class="list-group">

    @foreach (var project in Model.projects)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
            <h1>@project.Name</h1>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <form id="form1" method="post" action="@Url.Action("View", "Projects" , new { id = @project.Id })"><button type="button" class="btn btn-primary">Anzeigen</button></form>
                <form id="form1" method="post" action="@Url.Action("Delete", "Projects", new { id = @project.Id })"><button type="submit" class="btn btn-dark">Löschen</button></form>
            </div>

        </li>
        <br />
    }
</ul>

